.contant-block .ad-contest-block{
	margin-left: 0;
	padding: 6px;
}
.contant-block .ad-contest-block:first-child{
	margin-left: 0;
}
.arrow-white:before {
	top: 99.3%;
}

@media screen and (max-width: 1000px){
	.contant-block .ad-contest-block:first-child{
		margin-left: 12%;
	}
	.contant-block .ad-contest-block {
		margin-left: 12%;
	}
}
@media screen and (max-width: 585px){

.contant-block .ad-contest-block:first-child{
		margin-left: 2%;
	}
	.contant-block .ad-contest-block{
		margin-left: 2%;
	}
}