
@media screen and (max-width: 1366px){
	.map-link .map-block .all-links {width: 27%;}
	  .map-link:after {  background: url(../img/arrow-top2.png) 55%;}
	.slider .invest-project{right: -5%; bottom: 80px;	}
	.slider .slide-text{	left: -5%;	bottom: 155px;	}
	.block-links-four,.block-links-three,.block-links-two,.block-links-one{width: 55px;}
	.arrow-to-top{	right: 60px !important;	bottom: 50px !important;}
}
@media screen and (max-width: 1225px){
	.slider .invest-project{right: -5%; bottom: 60px;	}
	.map-link .map-block .all-links {width: 29%;}
	.wrapper .header-bottom{ background: rgba(24, 30, 40,1);}
	/*.wrapper .slider{top: 155px;}*/
}
@media screen and (max-width: 1100px){
	.arrow-to-top{	right: 0px !important;	bottom: 0px !important;}
	.slider .invest-project{right: -5%; bottom: 100px;	}
	.invest-project .all-links{
		margin: -40px auto;
	}
	.map-link .map-block .all-links {width: 33%;}
	.block-links-four,.block-links-three,.block-links-two,.block-links-one{display: none;}
	  .map-link:after {  background: url(../img/arrow-top2.png) 54%;}
	  .invest-project .title-invest-project{height: 45px; line-height: 45px;     right: 200px;
    top: 156px;
    position: relative;
    transform: rotate(-90deg);}
    .invest-project ul{    position: relative;
    bottom: 43px;}
	  .invest-project ul li a{padding: 12px 0;  padding-left: 75px;}
	  .invest-project .all-project{padding: 12px 0 12px 60px; margin-top: 10px; margin-bottom: 5px;    position: relative;
    bottom: 40px;}
	.slider .invest-project{left: 5%;height: 355px;	}
	.slider .slide-text{	left: 45%; bottom: 200px;	    padding-left: 7px;
    height: 85px;
    width: 488px;}
    .wrapper .slider .slide-text .slide-all-text{    padding-top: 23px;}
    .wrapper .slider .slide-text .slide-all-text .slide-text-block{    font-size: 16px;}
    
}
@media screen and (max-width: 1000px){
  .contant-block .cont-block-title{
  	width: 768px;
  }
	
.right-preg{
      float: right;
    width: 50%;
}
	.menu-map{top:160px; padding-left: 15px;}

	.Gmap{width: 100%;}
	.news-detal-left{width: 280px;}
	.news-detal-right{width: 460px;}
	.project-name{margin-top: 50px;}
	.project-block{width: 100%;}
	.title-page,.breadcrumb{
		bottom: -12px;
	}
	
	.text-block img{width: 100%; height: auto;}
	.map-link .map-block .all-links {width: 35%;}
	.contant-block .contest-block p{margin-left: 0;}
	.containers{width: 768px;}
	.slide-text{padding-left: 10px;
		width: 400px;}
		.footer .inform-block p{font-size: 16px;
			line-height: 1.3;}
			.footer .Subscription input[type="submit"]{
				width: 182px; margin-left: 0; margin-top: 5px;
			}
	.util-ic a,.house-ic a,.sport-ic a,.soc-ic a,.med-ic a,.en-ic a,.tran-ic a,.ek-ic a,.elek-ic a,.peap-ic a{background: none;}

.invest-project ul .util-ic a:hover,.invest-project ul .house-ic a:hover,.invest-project ul .sport-ic a:hover,.invest-project ul .peap-ic a:hover,.invest-project ul .elek-ic a:hover,.invest-project ul .ek-ic a:hover
,.invest-project ul .tran-ic a:hover,.invest-project ul .soc-ic a:hover,.invest-project ul .en-ic a:hover,.invest-project ul .med-ic a:hover:hover{background: none;}

	  .map-link:after {  background: url(../img/arrow-top2-mini.png) 45%;}
	  .search input[type='text']{margin-left: 100px;}
	  .wrapper .header .head-links{line-height: 20px;}
	  .wrapper .header-bottom .mini-width .lang{	margin-right: 100px;  }
	  .wrapper .header-bottom{height: 130px;}
	  .success-story .carusel-arrow-next,.success-story .carusel-arrow-prev{top: 140px;}
	  .invest-project ul li a img{display: none;}
	  .invest-project ul li a{padding: 9px 0px 7px 20px;}
	  .invest-project .all-project{    padding: 11px 0 11px 10px;}
	  .slider .invest-project{left: 0%; height: 285px; width: 290px;}
	  .invest-project .title-invest-project{right: 168px; top: 120px;}
	  .footer .inform-block{margin-bottom: 35px;}
	  .contant-block .contest-block>.contest-link{width: 65%;}
	  .slider .slide-text{left: 40%;}
	  .footer i{right: 270px;}
	.news-blocks .info-block .all-links,.map-link .map-block .all-links,.invest-project .all-links,.success-story .all-links, .contant-block .all-links,.contant-block .ad-contest-block .all-links{background:none;margin-right: 50px;}
	.news-blocks .info-block .all-links:hover,.invest-project .all-links:hover,.success-story .all-links:hover, .contant-block .all-links:hover,.contant-block .ad-contest-block .all-links:hover{background:#013c5e;}
	.map-link .map-block .all-links:hover{background: white;}
	.contant-block.gray-block.arrow-gray.form-page{
		    top: 7px;
	}
	.releases-right{width: 99%; padding-left: 1%;}
}
@media screen and (max-width: 900px){

	.slider .slide-text{width: 415px; left: 45%;}
	.slider .invest-project{left: 5%;}
}

@media screen and (max-width: 800px){
	.contant-block .cont-block-title{
   		width: 600px;    font-size: 20px;
 	 }
	.info-nvest-text{font-size: 16px;}
	.info-invest-left,.info-invest-center,.info-invest-right{height: 150px;}
	.info-invest-left .info-nvest-text{text-align: left; vertical-align: middle; display: table-cell;}
	.info-invest-right .info-nvest-text{text-align: right; vertical-align: middle; display: table-cell;}
	.menu-map>li>ul{
		padding-left: 25px;
	}
	.menu-map{
		top:175px;
		width: 245px;
	}


.lightbox i{top:50px;}
	.document-page{margin-top: 60px;
	}
	.cos-link li a span{padding: 3px;}
	.news-detal-left{width: 100%;}
	.news-detal-right {
    width: 100%;
    margin-top: 25px;
}


	/*.date-preg{margin-left: 10px;}*/
	.right-preg,.left-preg{width: 90%; margin: 0 auto; display: block;float: none;}

	.releases-block.press-page{height: auto;
		padding-bottom: 15px;}
	.invest-project .all-links { margin: 5px auto; }
	.title-page,.breadcrumb{
		bottom: -35px;
	}
.news-blocks .info-block{width: 100%;}
.wrapper .header{	height: 65px;}
.wrapper .header .tel,.wrapper .header .info{width: 155px;}
	.containers{width: 600px;}
	.wrapper .header .head-links{float: none;     width: 28%; margin-top: 40px;
    text-align: center; padding: 0;
    display: inline-block;}
	.wrapper .header-bottom .mini-width .lang,.search{width: 100%; text-align: center;}
	.search input[type='text']{margin: 0 auto;    position: relative;
    width: 40%;
    left: 13px;}
	.wrapper .header-bottom{height: 150px;}

	/*.slider .slide-text{left: 20%; height: 80px; bottom: 120px;}*/
	.wrapper .slider .slide-text .slide-all-text{padding-top: 10px;}
	.wrapper .slider .slide-text .arrow-prev{bottom: 0px;right: 20px;}
	.wrapper .slider .slide-text .arrow-next{bottom: 0px;right: 0px;}
	/*.slider .invest-project{right: 20%; width: 328px; bottom: 205px;}*/
	.invest-project .title-invest-project{font-size: 22px;height: 50px; line-height: 50px;}
	.invest-project ul li a{width: 100%; font-size: 14px; }
	.invest-project .all-project{padding: 15px 0px 15px 15px;}
	.contant-block .contest-block{width: 100%;}
	.contant-block .contest-block:nth-child(2n){margin-left: 0;}
	.map-link:after{background: url(../img/arrow-top.png) center;height: 44px;}
	.success-story .carusel-arrow-next, .success-story .carusel-arrow-prev{top: 133px;}
	.success-story .carusel-arrow-prev{    height: 28px;width: 26px;background: url(../img/other/carusel-arrow-prev.jpg) center;}
	.success-story .carusel-arrow-next{    height: 28px;width: 26px;background: url(../img/other/carusel-arrow-next.jpg) center;}
	.wrapper .slider:after,.paginator,.slider-container{display: none;}
	.invest-project .title-invest-project{position: static; transform:none;}
	.slider .invest-project{left: 0; height: auto;bottom: 37px; width: 100%; }
	.slider .invest-project ul li{
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
	.invest-project .all-project,.invest-project ul{position: static;}
	.invest-project ul li a{padding: 12px 0 12px 0px;}
	.slider .slide-text{width: 365px;
		height: 100px;}
		.wrapper .slider .slide-text .slide-all-text{padding-top: 25px;}
		.contant-block .contest-block p{padding-left: 10px;}
		.footer i{right: 40px;top: 200px;}
		.breadcrumb a{padding-left: 10px;}
		.doc-block{padding-right: 15px;padding-left: 15px;}
   .news-blocks .info-block .info{padding-bottom: 20px; margin-bottom: 5px;}
	.news-blocks .info-block .all-project{margin-top: 0; margin-bottom: 80px;}
	.wrapper .header-bottom .mini-width .lang{width: 70px; top:25px;
		position: absolute;
		left: 42%;
    float: none;
    margin: 0 auto;}
    .left-menu{margin-top: 40px;}
    /*.text-page{padding: 0 15px;}*/
    .text-page h2,.text-page p{padding: 0 15px;}
	.slide-text{display: none;}
	.invest-project ul li a{text-align: center;}
	.menu-head-popup a{padding: 15px 0px;}
	.map-link .map-block .all-links,.news-blocks .info-block .all-links,.success-story .all-links, .contant-block .all-links{width: 90%;display: block; margin:15px auto; clear:both; float: none;}
 .contant-block.gray-block.arrow-gray.form-page{ top: 35px;}

	.invest-project ul li span{width: 100%;
    text-align: center;
    padding:12px 0 12px 0;}
}

@media screen and (max-width: 720px){
	.all-links{
		padding: 0 !important;
	}
	.contant-block .cont-block-title{
  	width:90%;

    margin-bottom: 45px;
  }
	.arrow-white:before,.arrow-gray:before{z-index: 1;}
	.title-page ol{ padding-left: 5px;}
	.date-block,.releases-block.press-page a, .releases-block.press-page p{padding-left: 5px;}
	.text-page h2, .text-page p{
		padding-top: 25px;
	}
	.text-page img,.contant-block .ad-contest-block img{
		display: none;
	}
	.left-preg img,.news-detal-img img,.contant-block .contest-block img{
		display: none;
	}
	.title-page{
		font-size: 24px;
	}
	.releases-block.press-page img{
		display: none;
	}
	.releases-block.press-page{margin-top: 90px;}
	.date-block{height: 90px;}
	.menu-map{top: 280px;}
	.map-block-info a{width: 275px; font-size: 16px;}
	.map-block-info{padding-left: 5%;}
	.project-block .project-img,.text-page li,.project-block p{margin-left: 5%;}
	.news-detal-left{width: 90%; margin-left:5%;}
	.news-detal-right {width: 90%; margin-left:5%;     margin-top: 35px;}
	.cos-link ul{display: block;}
	.empty-block-header{height: 133px;}
	  .footer i:last-child{ float: left;}
	.tablet{display: block;       padding-left: 10px;}
	.menu-head-popup{margin-top: 50px;}
	.news-blocks .info-block .info{margin-bottom: 15px;}
	.news-blocks .info-block .all-project{margin-top: 0; margin-bottom: 70px;}
	.footer .Subscription input[type="submit"]{margin-top: 0;}
	.footer ,.wrapper{
		overflow-x:hidden;
	}
	.text-page ul li{
		
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;
	}
	.wrapper{bottom: 15px;}
	.wrapper .header-bottom .mini-width{width: 100%;}
	.menu-head{display: none;}
	.wrapper .header .head-links{display: none;}
	.wrapper .header .info{margin-left: 0;}
	.slider{background: #f2f2f2;}
	.wrapper .header{	height:115px;  bottom: 0;}
	.wrapper .header-bottom{top: 95px; height: 140px;}
	.wrapper .slider{position: relative;height: 557px;}
	.slider .invest-project{right: 0%;bottom: 5px; width: 100%;}
	.empty-block{display: none;}
	.contant-block .ad-contest-block{    width: 75%;
    float: none;
    margin: 0 auto;}
    .contant-block .ad-contest-block:first-child{
    	padding-bottom: 25px;
    margin: 0 auto;}
    .containers {width: 100%;}
    .carusel,.carusel-arrow-prev,.carusel-arrow-next{display: none;}
    .footer .inform-block,.footer .Subscription{width: 100%; margin-bottom: 25px;}
	.invest-project ul li a {width: 100%;}
    .menu-head-popup{display: block;}
    .contant-block .contest-block{padding-left: 5%;}
     .search{width: 100%;}
     /*.wrapper .header-bottom .mini-width .lang{    background: url(../img/other/arrow-lang.png) no-repeat 60% center; }*/
   .Subscription,.inform-block, .news-blocks .info-block .info{padding-left: 2%;}
   .contant-block .all-project{float: right; margin-right: 25px;     padding: 15px 0px 15px 20px;}
   .head-links{ display: none;}
   .logo2{position: absolute; right: 0; top: 0;}
   .search input[type='text']{margin-top: 30px;
   	position: relative; left: 10px; width: 80%; height: 25px;}
   	.lightbox{
   		padding-top: 35%;
   	}
}
@media screen and (max-width: 585px){
	.print-link{
		display: none;
	}
	.info-invest-center span{
		height: 30px;
		width: 30px;
		line-height: 30px;
		font-size: 22px;
	}
	.menu-map{top: 255px;}
	.doc-block{
		padding-bottom: 25px;
		border-bottom: 1px solid black;
	}
	.releases-block.press-page a,.releases-block.press-page p{float: left;}
	.empty-block-header{height: 105px;}
	.tablet{    margin-bottom: 80px;}
	  .contant-block .contest-block>.contest-link{width: 65%;}
	.contant-block .contest-block p{padding-left: 0; width: 90%;}
	/*.logo2{display: none;}*/
	.news-blocks .info-block .info{height: 170px;}
	.footer .inform-block, .footer .Subscription{margin-bottom: 40px;}
	.footer i{bottom: 0;right: 0; top: -150px;}
	.wrapper .slider{height: 615px;}
	.menu-head-popup{margin-top: 20px;}
	.search{text-align: center; margin-top: 30px;}
	.contant-block .ad-contest-block,.contant-block .contest-block,.news-blocks .info-block .info{margin-bottom: 0; padding-bottom: 55px; padding-top: 10px; border-top:1px solid gray;}
	.contant-block .ad-contest-block:last-child,.contant-block .contest-block:last-child,.news-blocks .info-block .info:last-child{border:0;}
	.map-link .map-block .all-project{
    padding: 15px 0px 15px 25px;}
    .wrapper .header .info{    position: relative;
    right: 150px;
    top: 50px;}
    .contant-block .ad-contest-block, .contant-block .contest-block, .news-blocks .info-block .info{padding-bottom: 20px;}
    .contant-block .ad-contest-block{width: 90%;}
	.slider .invest-project{right: 0%;bottom: 31px; width: 100%;}
}
@media screen and (max-width: 460px){
	.info-invest-left, .info-invest-center, .info-invest-right{height: 130px;}
	.info-nvest-text{font-size: 14px; padding-top: 20px;}
	.info-invest-center span{
		height: 25px;
		width: 25px;
		line-height: 25px;
		font-size: 18px;
	}

	.title-page, .breadcrumb {   bottom: -39px;}
	.menu-map>li span{font-size: 21px;}
	.menu-map>li>ul>li{font-size: 16px;}

.printer-link{display: block;}
	.review-link, .down-link{margin: 5px;}
	.wrapper .header .tel{line-height: 40px;}
	
	.wrapper .header-bottom{height: 165px;}
	.menu-head-popup{margin-top: 28px;}
	.wrapper .header .tel,.wrapper .header .info{ background: none;}
	.wrapper .header .info{  position: absolute;    left: 130px;
    top: 50px;}
    .wrapper .header .tel, .wrapper .header .info{width: 134px; padding-left: 10px; text-align: left;}
    .project-block {

    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
}
}
@media screen and (max-width: 410px){
	.slider .invest-project{right: 0%;bottom: 0px; width: 100%;}
	.contant-block .contest-block p {
    padding-left: 10px;
    width: 90%;
    margin-top: 0;
}
	.menu-map{top: 280px;}
	.news-blocks .info-block .all-project{background: white;}
	.invest-project .all-project{background: none;}
	  .contant-block .contest-block>.contest-link{width:90%;     font-size: 12px;    margin-top: 5px;}
	.news-blocks .info-block .info{height: 200px;}
	.news-blocks .info-block .all-project{margin-top: 50px;}
	.wrapper .header-bottom .mini-width .lang{    position: absolute;  top: 25px; left: 122px;}
	.wrapper .header .tel{position: relative;
		top: 180px; left: 25px;} 
		.wrapper .header .info{line-height: 0px; position: relative;
		top: 160px; left: -100px;}
		.search{    position: relative;
    top: 10px;
    left: 0;}
    .mobile{display: block;}
    .dest{display: none;}
    .success-story .all-project,.news-blocks .info-block .all-project,.contant-block .all-project{margin-right: 14%;}
}
@media screen and (max-width: 410px){
	.search input[type='text']{width: 78%;}
	.success-story .all-project,.news-blocks .info-block .all-project, .contant-block .all-project{margin-right: 8%;}
}